.company__container {
  @media screen and (min-width: 480px) {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.company__item {
  margin-bottom: 30px;
  margin-right: 30px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
    display: flex;
    justify-content: center;
    width: 170px;
    height: 92px;
    margin-right: 30px;

    box-sizing: border-box;
    align-items: center;
    border-radius: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.company__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.company__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  &:hover .company__icon,
  &:focus .company__icon {
    fill: #2196f3;
  }
  &:hover,
  &:focus {
    border-color: #2196f3;
  }
}

.company__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
